#winnerHeader {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  #winnerL {
    margin: 0 10vw;

    font-size: 20px;
    font-weight: 800;
    color: black;
  }

  .li {
    margin: 0 10vw;
  }
}


#winnerList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;


  ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;

    li {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      word-wrap: break-word;
    
      
    }

    #winnerL {

      display: table-cell;
      text-align: center;
      vertical-align: middle;
      word-wrap: break-word;

      font-size: 20px;
      font-weight: 800;
      color: black;
    
      //width: 25%;
    }
  }
  
}


