include ../mixins/icons

.main


  canvas#confetti-canvas.confetti

  div#winnerHeader
    div#winnerL RemitId
    div#winnerL Name
    div#winnerL Email

  div#winnerList
    div#winner
      div.li RemitID
      div.li RemitID
      div.li RemitID




