include ../mixins/icons

.main


  canvas#confetti-canvas.confetti

  div#winnerHeader


  div#winnerList
    ul
      li#winnerL RemitId
      li#winnerL Name
      li#winnerL Email
      li#winnerL Date


